<mat-grid-list cols="2" class="restaurant-page" rowHeight="fit">
  <mat-grid-tile-header>
    <div class="restaurant-page__title">
      <p class="mat-display-2">Ресторан тадаа</p>
      <p class="mat-display-1"><b>Адрес такой-то</b></p>
    </div>
  </mat-grid-tile-header>
  <mat-grid-tile colspan="1" rowspan="1">
    <img class="restaurant-page__image" mat-card-image src="./assets/logo.png">
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="restaurant-page__info">
      <h1 class="mat-h1">Характеристика заведения</h1>
      <div class="mat-h2">
        Цена
        3000
      </div>
      <div class="mat-h2">
        <p>Время работы будни: 10-22</p>
        <p>Время работы выходные: 11-23</p>
      </div>
      <div class="mat-h2">
        <p>Тип кухни: Французская, Китайская, Русская</p>
      </div>
      <div class="mat-h2">
        <p>Рейтинг ресторана</p>
      </div>
      <div class="mat-h2">
        <p>Меню:</p>
      </div>
      <div class="mat-h2">
        <p>Средний чек</p>
      </div>
      <button mat-button> Добавить в "Хочу посетить"
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    Отзывы
  </mat-grid-tile>
</mat-grid-list>


<!--export interface Restaurant {-->
<!--id: string-->
<!--name: string-->
<!--image: string-->
<!--address: string-->
<!--time: {-->
<!--weekdays: string-->
<!--weekends: string-->
<!--}-->
<!--kitchens: string[]-->
<!--rating: number-->
<!--menuLink?: string-->
<!--averageCheck: number-->
<!--cost: number-->
<!--comments: string[]-->
<!--}-->
