.restaurant-page {
  max-width: 1300px;
  margin: 1% auto;
  //border: 1px solid #de7f07;
  border-radius: 1% 10%;
  padding-bottom: calc(1 * ((30% - 5px) * 1) + 0px + 0px) !important;

  &__title {
    padding: 1%;
    a {
      text-decoration: none;
    }
  }

  &__image {
    object-fit: contain;
    width: 600px;
    padding-right: 10px;
  }

  &__info {
    padding-left: 7%;
    border-left: 1px solid #940df1;
  }

  &__description {

    font-size: 20px;

    &__field {
      //margin-top: 200px;
      width: 600px;
      border-left: 2px solid #000000;

      .mat-grid-tile {
        margin: 4%;
        //padding: 5%;
      }
    }

    &__tile {
      display: inline-block;
      border: 3px solid #000000;
      border-image: linear-gradient(-45deg, #760edc, #e67e22) 1;
      transition: all 1s ease;
      border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
      //text-transform: uppercase;
      background: #ffffff;


      &::before {
        border: 4px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-60%, -50%, -10%) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
      }

      padding: 5px;
    }

    h1 {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: bold;
    }

    li {
      padding: 5px;
    }
    .no-marks li {
      list-style-type: none;
    }



  }
  ::ng-deep .mat-icon{
    line-height: 20px !important;
  }
}

.mat-display-2 {
  margin-bottom: 4px;
}

.mat-button {
  font-size: 20px;
  border: 2px solid #545252;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  transition: all 1s ease;
  margin: auto;
}
.mat-button:hover{
  //background: linear-gradient(290deg, rgb(255, 255, 255) 0%, rgba(166, 56, 244, 1) 100%);
  background: #7912be;
  color: white;
  transition: all 1s ease;
}
.mat-button:disabled{
  transition: none;
  color: black;
  background: #919090;
}


.reviews {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
  border: 1px solid #b7b6b6;
  transition: all 1s ease;


  &__area{
  border: 1px solid orange;


    &__text{
      display: block;
    }

    &__text.active{
      background: #f5ac72;
    }

    &__rate{
      display: block;
      width: 200px;
    }

  }

  &__button{
    width: 250px;
    height: 60px
  }

  .mat-spinner{
    margin: 0 auto;
  }
  .mat-card{
    margin: 1% auto;
    border: 1px solid #b209ec;
    padding: 2%;
  }


  &__title{
    padding: 2%;
    border-left: 1px solid sandybrown;
    font-size: 20px;
  }
  &__examples{
    border-top: 1px solid #d2cfcf;
    padding: 2%;
    font-size: 18px;
  }
}
.reviews:hover{
  border: 1px solid #000000;
  transition: all 0.5s ease;
}

.margin{
  height: 200px;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



