.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    &.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
  }
}

.spinner {
  align-self: center;
  margin-top: 100px;
}
