.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    &.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
  }

  &__btns {
    margin-bottom: 20px;
  }

  &__btn {
    padding: 0 10px;
    min-width: unset;

    &.active {
      background-color: #e0dfdf;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.spinner {
  align-self: center;
  margin-top: 100px;
}
