.restaurant-card {
  width: 100%;
  margin-bottom: 30px;

  &__header {
    margin-bottom: 10px;
  }

  &__img {
    object-fit: cover;
    height: 300px;
  }

  &__rating {
    margin-right: 10px;
  }

  &__kitchen {
    margin-right: 5px;
  }

  &__link {
    text-decoration: none;
    color: currentColor;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 5px;

    &:hover {
      transition: border-color 0.3s;
      border-bottom: 2px solid #000;
    }
  }
}
