.restaurants {
  &__btns {
    margin-bottom: 20px;
  }

  &__btn {
    padding: 0 10px 5px 10px;
    min-width: unset;

    &.active {
      background-color: #e0dfdf;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

}
