<div class="restaurants__btns">
  <button mat-button class="restaurants__btn" (click)="changeType( 'list')" [class.active]="type === 'list'">
    <mat-icon>reorder</mat-icon>
  </button>
  <button mat-button class="restaurants__btn" (click)="changeType( 'grid')" [class.active]="type === 'grid'">
    <mat-icon>grid_on</mat-icon>
  </button>
  <button mat-button class="restaurants__btn" (click)="changeType( 'slider')" [class.active]="type === 'slider'">
    <mat-icon>slideshow</mat-icon>
  </button>
</div>
